/Post/nbproject/private/
/Post/build/
/outsourcedEmployee/outsourcedEmployer/nbproject/private/
/outsourcedEmployee/outsourcedEmployer/build/
/Product/Program/nbproject/private/
/Product/Program/build/
/Shape/Program/nbproject/private/
/Shape/Program/build/
